html
{
  max-width: 100%;
}

.buttons{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-top: 320px;
}

button{
  border: white;
  color: aliceblue;
  font-size: 27px;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  border-radius: 15px
}

button:hover{
    opacity: 0.8;
}

#Red button{
  margin-right: 30px;
  background-color: red;
}

#Green button{
  background-color: green;
}

#Blue button{
  margin-left: 30px;
  background-color: blue;
  padding-left: 37px;
  padding-right: 37px;
}

